
.vestimenta-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vestimenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(247, 199, 207);
    padding: 2rem 0;
    width: 80%;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2rem;

}

.trajes {
    max-width: 200px;
}